<div class="container">
    <h2>{{name}}</h2>
    <img class="postImg" src="{{imageUrl}}" alt="">
    <p>{{description}}</p>
    <p>{{difficultyLevel}}</p>
    <a href="/">Back</a>
        <a href="/posts/{{_id}}/attach-accessory">Attach</a>
    <h2>Accessories</h2>
    {{#each accessories}}
        <div class="accessory">
            <img src= '{{imageUrl}}'  alt="{{name}}">
            <h3>{{name}}</h3>
            <p>{{discription}}</p>
        </div>
        {{else}}
        <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}}
</div>