<div class="container">
    <h2>{{name}}</h2>
    <img class="postImg" src="{{imageUrl}}" alt="">
    <p>{{description}}</p>
    <p>{{difficultyLevel}}</p>
    <a class="btn" href="/posts/{{_id}}/details">More</a>
</div>