        <main>
            <h1>Attach a new accessory</h1>
            <div class="form">
                <h2>{{post.name}}</h2>
                <img class="cube" src="{{post.imageUrl}}">
                <form method="POST">
                        {{#if hasAccessory}}
                        {{#each accessory}}
                    <label for="accessory">Accessories</label>
                    <select id="accessory" name="accessoryId">
                            <option value="{{_id}}">{{name}}</option>
                    <input type="submit" value="Attach">
                        {{/each}}
                        {{else}}
                            <h3 class="italic"> No more accessories to attach</h3>
                        {{/if}}
                    </select>
                    </form>
                <a class="btn" href="/posts/{{post._id}}/details">Back</a>
            </div>
        </main>